
name: Daily YC Startup Jobs Bot

on:
  schedule:
    # 9:00 AM IST = 3:30 AM UTC
    - cron: "30 3 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium

      - name: Run YC Job Bot
        env:
          SENDER_EMAIL: ${ secrets.aayushdusane8030@gmail.com}
          EMAIL_APP_PASSWORD: ${{ secrets.jvftrkyryjsltvmu}}
          RECEIVER_EMAIL: ${ secrets.aayushdusane8030@gmail.com}
        run: |
          python main.py
